# Crime Data

This is  the [2000-2013 Violent Crime Rate](https://data.ca.gov/dataset/violent-crime-rate/resource/91e7c556-54cc-4848-8811-500137d5ede2) from the California Department of Public Health. We take the dataset and celean it to get the relevent data.

First we import the necessary dependencies to clean the crime data.

In [1]:
# importing dependencies
import csv
import numpy as np
import pandas as pd

Next we create the csv path and the dataframe for the 2000-2013 Violent Crime Rate from the California Department of Public Healthcrime data so that we can clean and use the data.

In [2]:
# creating csv path for crime data
crime_path = "Resources/hci_crime_752_pl_co_re_ca_2000-2013_21oct15.csv"

# creating dataframe for crime data
crime_data_df = pd.read_csv(crime_path,encoding="ISO-8859-1", low_memory=False)
crime_data_df.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population,version
0,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
1,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
2,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
3,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
4,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,6.217499,6.190935,6.244063,0.013553,0.217985,NaN,1.0,33873086.0,10/21/2015

Here we dropped the rows that hold no values as well as all data outside of the year 2000. We dropped the rows with no county name because our analysis is based on location, and we merged our crime data and housing data by county, so the rows containing no county information provided us no value in our analysis. We dropped all data outside of the year 2000 because we wanted our crime data to be as close as possible in time proximity to our 1990 housing data.

In [3]:
# dropping null values in county_name
dropna_crime_data = crime_data_df.loc[crime_data_df["county_name"].notnull(), :]
# dropping all crime data outside of the year 2000, because we want our crime data to be as close in time proximity to our 1990 housing data as possible.
dropna_crime_data_2000 = dropna_crime_data.loc[dropna_crime_data["reportyear"] == 2000, :]
dropna_crime_data_2000

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population,version
5,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
6,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
7,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
8,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
9,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,6.582206,6.449864,6.714547,0.067521,1.025816,NaN,1.058658,1443939.0,10/21/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3316,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3317,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3318,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3319,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3320,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,4.447080,3.440611,5.453549,0.513505,11.547005,4.0,0.715252,16865.0,10/21/2015

Here we drop all columns from the crime data other than county name, numerator, denominator, and rate (crime rate). For our future merging and analysis we only need the county name and crime rate. We hold on to the numerator and denominator for reasons we will explain later in the notebook.

In [4]:
# creating new dataframe with only pertinent columns
columndrop_crimedata_2000 = dropna_crime_data_2000[["county_name", "numerator", "denominator", "rate"]]
columndrop_crimedata_2000

         county_name  numerator  denominator      rate
5            Alameda     5457.0    1443741.0       NaN
6            Alameda      568.0    1443741.0       NaN
7            Alameda      110.0    1443741.0       NaN
8            Alameda     3368.0    1443741.0       NaN
9            Alameda     9503.0    1443741.0  6.582206
...              ...        ...          ...       ...
3316  San Bernardino       62.0      16865.0       NaN
3317  San Bernardino        3.0      16865.0       NaN
3318  San Bernardino        1.0      16865.0       NaN
3319  San Bernardino        9.0      16865.0       NaN
3320  San Bernardino       75.0      16865.0  4.447080

[3316 rows x 4 columns]

Here we drop all rows with blank values in the rate (crime rate) column because the rows including crime rates are summary rates for immediately preceding rows. This can be seen in the display of the "columndrop_crimedata_2000" dataframe in the cell above, with rows 5-9 for Alameda county and rows 3316-3320 for San Bernandino county being examples.

In [6]:
# dropping all the rows with null values in "rate"
county_crime_rate_df = columndrop_crimedata_2000.loc[columndrop_crimedata_2000["rate"].notnull(), :]
county_crime_rate_df

         county_name  numerator  denominator      rate
9            Alameda     9503.0    1443741.0  6.582206
14            Alpine       10.0       1208.0  8.278146
19            Amador      179.0      34120.0  5.246190
24             Butte      699.0     203171.0  3.440452
29         Calaveras      118.0      40554.0  2.909701
...              ...        ...          ...       ...
3297          Orange      136.0      58918.0  2.308293
3305        Siskiyou       34.0       7290.0  4.663923
3310          Sutter      182.0      36758.0  4.951303
3315  San Bernardino       69.0      41207.0  1.674473
3320  San Bernardino       75.0      16865.0  4.447080

[504 rows x 4 columns]

Here we sort by county name for reference in calculating the summary crime rate for each county, which we do later in the notebook.

In [7]:
# sorted by county name for later reference to ensure correct calculation of summary crime rate by county
county_crime_rate_df.sort_values('county_name')

     county_name  numerator  denominator       rate
9        Alameda     9503.0    1443741.0   6.582206
522      Alameda      754.0     102743.0   7.338699
2102     Alameda      130.0      42471.0   3.060912
3083     Alameda      342.0      66869.0   5.114478
2688     Alameda      500.0      79452.0   6.293108
...          ...        ...          ...        ...
966         Yolo      254.0      60308.0   4.211713
3221        Yolo      401.0      31615.0  12.683853
294         Yuba      342.0      60219.0   5.679271
1911        Yuba       84.0      12268.0   6.847082
3228        Yuba        6.0       2275.0   2.637363

[504 rows x 4 columns]

Here we created a summary crime rate to consolidate multiple rows of county crime rate data into a new dataframe with only one row per county. We group by county name and then sum the numerator and denominator, rather than averaging the crime rates for each county, because the populations for each row were different which means that each row will have different weight in the summary crime rate created below.

In [10]:
# creating summary crime rate by county
group_county_rate_df = county_crime_rate_df.groupby(["county_name"])
sum_county_rate_df = group_county_rate_df[["numerator", "denominator"]].sum()
# calculation for summary crime rate and creating csv file, multiplied by 1000 to match formatting in original dataset
sum_county_rate_df["sum_rate"] = (sum_county_rate_df["numerator"] / sum_county_rate_df["denominator"]) * 1000
sum_county_rate_df.to_csv("Resources/sum_county_rate.csv", index=True)
sum_county_rate_df

                 numerator  denominator  sum_rate
county_name
Alameda            18232.0    2751712.0  6.625693
Alpine                10.0       1208.0  8.278146
Amador               203.0      47541.0  4.269999
Butte               1080.0     309712.0  3.487111
Calaveras            151.0      43558.0  3.466642
Colusa                94.0      27876.0  3.372076
Contra Costa        8363.0    1750878.0  4.776461
Del Norte            133.0      31535.0  4.217536
El Dorado           1083.0     189518.0  5.714497
Fresno             10773.0    1411249.0  7.633664
Glenn                144.0      38954.0  3.696668
Humboldt             644.0     185174.0  3.477810
Imperial            1278.0     251949.0  5.072455
Inyo                  83.0      21520.0  3.856877
Kern                4382.0    1014452.0  4.319574
Kings                627.0     219991.0  2.850117
Lake                 365.0      76271.0  4.785567
Lassen               119.0      47369.0  2.512192
Los Angeles       170216.0   18049808.0  9.430350
Madera              1450.0     177443.0  8.171638
Marin               1118.0     383615.0  2.914380
Mariposa             130.0      17130.0  7.589025
Mendocino            456.0     113861.0  4.004883
Merced              2125.0     343181.0  6.192068
Modoc                 44.0      12341.0  3.565351
Mono                  53.0      19946.0  2.657174
Monterey            4353.0     703272.0  6.189639
Napa                 563.0     217778.0  2.585201
Nevada               195.0     105956.0  1.840387
Orange             17170.0    5524413.0  3.108023
Placer               877.0     388317.0  2.258464
Plumas                63.0      20824.0  3.025355
Riverside          16707.0    2632817.0  6.345675
Sacramento         10453.0    1702701.0  6.139070
San Benito           633.0      86098.0  7.352087
San Bernardino     17135.0    3126152.0  5.481179
San Diego          26111.0    5184747.0  5.036118
San Francisco      13061.0    1553466.0  8.407651
San Joaquin         8401.0     986664.0  8.514550
San Luis Obispo     1142.0     389382.0  2.932853
San Mateo           3911.0    1347259.0  2.902931
Santa Barbara       2306.0     639211.0  3.607572
Santa Clara        14030.0    3264870.0  4.297261
Santa Cruz          2139.0     375878.0  5.690676
Shasta              1337.0     253143.0  5.281600
Sierra                 4.0       3555.0  1.125176
Siskiyou             327.0      64870.0  5.040851
Solano              4885.0     769762.0  6.346117
Sonoma              2261.0     766663.0  2.949145
Stanislaus          4769.0     787204.0  6.058150
Sutter               445.0     115688.0  3.846553
Tehama               458.0      75927.0  6.032110
Trinity               23.0      13022.0  1.766242
Tulare              4139.0     594892.0  6.957565
Tuolumne             308.0      58924.0  5.227072
Ventura             4021.0    1413267.0  2.845181
Yolo                1876.0     315859.0  5.939359
Yuba                 432.0      74762.0  5.778337