In [1]:
import csv
import numpy as np
import pandas as pd
from scipy.stats import linregress
import matplotlib.pyplot as plt
import requests
import geopandas

url = "https://geo.fcc.gov/api/census/area?lat=&lon=132&format=json"

In [2]:
crime_path = "Resources/hci_crime_752_pl_co_re_ca_2000-2013_21oct15.csv"
csv_path = "Resources/housing.csv"
county_path = "Resources/county_data.csv"

county_data_df = pd.read_csv(county_path)
cali_housing = pd.read_csv(csv_path)
crime_data_df = pd.read_csv(crime_path,encoding="ISO-8859-1", low_memory=False)
crime_data_df.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population,version
0,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
1,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
2,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
3,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
4,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,6.217499,6.190935,6.244063,0.013553,0.217985,NaN,1.0,33873086.0,10/21/2015

In [3]:
# naming variables in the housing dataset
median_income = cali_housing.loc[:, "median_income"]
median_house_value = cali_housing.loc[:, "median_house_value"]
longitude = cali_housing.loc[:, "longitude"]
latitude = cali_housing.loc[:, "latitude"]
county_name = crime_data_df.loc[:, "county_name"]

# api for lat long to location info
long = -122.23
lat = 37.88
url = f"https://geo.fcc.gov/api/census/area?lat={lat}&lon={long}&format=json"

# finding null values in housing dataset
cali_housing["median_house_value"]
cali_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
# dropping null values in county_name
dropna_crime_data = crime_data_df.loc[crime_data_df["county_name"].notnull(), :]
dropna_crime_data_2000 = dropna_crime_data.loc[dropna_crime_data["reportyear"] == 2000, :]
dropna_crime_data_2000

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population,version
5,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
6,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
7,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
8,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443939.0,10/21/2015
9,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6001.0,Alameda,6001.0,Alameda,...,1443741.0,6.582206,6.449864,6.714547,0.067521,1.025816,NaN,1.058658,1443939.0,10/21/2015
10,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6003.0,Alpine,6003.0,Alpine,...,1208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1208.0,10/21/2015
11,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6003.0,Alpine,6003.0,Alpine,...,1208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1208.0,10/21/2015
12,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6003.0,Alpine,6003.0,Alpine,...,1208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1208.0,10/21/2015
13,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6003.0,Alpine,6003.0,Alpine,...,1208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1208.0,10/21/2015
14,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6003.0,Alpine,6003.0,Alpine,...,1208.0,8.278146,3.147298,13.408994,2.617780,31.622777,NaN,1.331427,1208.0,10/21/2015
15,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6005.0,Amador,6005.0,Amador,...,34120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35100.0,10/21/2015
16,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6005.0,Amador,6005.0,Amador,...,34120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35100.0,10/21/2015
17,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6005.0,Amador,6005.0,Amador,...,34120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35100.0,10/21/2015
18,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6005.0,Amador,6005.0,Amador,...,34120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35100.0,10/21/2015
19,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6005.0,Amador,6005.0,Amador,...,34120.0,5.246190,4.477637,6.014742,0.392119,7.474351,NaN,0.843778,35100.0,10/21/2015
20,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6007.0,Butte,6007.0,Butte,...,203171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203171.0,10/21/2015
21,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6007.0,Butte,6007.0,Butte,...,203171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203171.0,10/21/2015
22,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6007.0,Butte,6007.0,Butte,...,203171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203171.0,10/21/2015
23,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6007.0,Butte,6007.0,Butte,...,203171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203171.0,10/21/2015
24,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6007.0,Butte,6007.0,Butte,...,203171.0,3.440452,3.185397,3.695506,0.130130,3.782347,NaN,0.553350,203171.0,10/21/2015
25,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6009.0,Calaveras,6009.0,Calaveras,...,40554.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40554.0,10/21/2015
26,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6009.0,Calaveras,6009.0,Calaveras,...,40554.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40554.0,10/21/2015
27,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6009.0,Calaveras,6009.0,Calaveras,...,40554.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40554.0,10/21/2015
28,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6009.0,Calaveras,6009.0,Calaveras,...,40554.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40554.0,10/21/2015
29,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6009.0,Calaveras,6009.0,Calaveras,...,40554.0,2.909701,2.384696,3.434706,0.267860,9.205746,NaN,0.467986,40554.0,10/21/2015
30,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6011.0,Colusa,6011.0,Colusa,...,18804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18804.0,10/21/2015
31,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6011.0,Colusa,6011.0,Colusa,...,18804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18804.0,10/21/2015
32,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6011.0,Colusa,6011.0,Colusa,...,18804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18804.0,10/21/2015
33,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6011.0,Colusa,6011.0,Colusa,...,18804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18804.0,10/21/2015
34,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CO,6011.0,Colusa,6011.0,Colusa,...,18804.0,3.031270,2.244327,3.818213,0.401502,13.245324,NaN,0.487538,18804.0,10/21/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86482.0,Woodville CDP,6107.0,Tulare,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/21/2015
3292,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86594.0,Wrightwood CDP,6071.0,San Bernardino,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/21/2015
3293,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86832.0,Yorba Linda city,6059.0,Orange,...,58918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58918.0,10/21/2015
3294,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86832.0,Yorba Linda city,6059.0,Orange,...,58918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58918.0,10/21/2015
3295,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86832.0,Yorba Linda city,6059.0,Orange,...,58918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58918.0,10/21/2015
3296,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86832.0,Yorba Linda city,6059.0,Orange,...,58918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58918.0,10/21/2015
3297,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86832.0,Yorba Linda city,6059.0,Orange,...,58918.0,2.308293,1.920341,2.696244,0.197934,8.574929,8.0,0.371257,58918.0,10/21/2015
3298,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86878.0,Yosemite Lakes CDP,6039.0,Madera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/21/2015
3299,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86912.0,Yosemite Valley CDP,6043.0,Mariposa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/21/2015
3300,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86930.0,Yountville city,6055.0,Napa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3297.0,10/21/2015
3301,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86944.0,Yreka city,6093.0,Siskiyou,...,7290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7290.0,10/21/2015
3302,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86944.0,Yreka city,6093.0,Siskiyou,...,7290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7290.0,10/21/2015
3303,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86944.0,Yreka city,6093.0,Siskiyou,...,7290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7290.0,10/21/2015
3304,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86944.0,Yreka city,6093.0,Siskiyou,...,7290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7290.0,10/21/2015
3305,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86944.0,Yreka city,6093.0,Siskiyou,...,7290.0,4.663923,3.096205,6.231641,0.799856,17.149859,4.0,0.750129,7290.0,10/21/2015
3306,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86972.0,Yuba City city,6101.0,Sutter,...,36758.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36758.0,10/21/2015
3307,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86972.0,Yuba City city,6101.0,Sutter,...,36758.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36758.0,10/21/2015
3308,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86972.0,Yuba City city,6101.0,Sutter,...,36758.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36758.0,10/21/2015
3309,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86972.0,Yuba City city,6101.0,Sutter,...,36758.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36758.0,10/21/2015
3310,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,86972.0,Yuba City city,6101.0,Sutter,...,36758.0,4.951303,4.231954,5.670653,0.367015,7.412493,4.0,0.796350,36758.0,10/21/2015
3311,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87042.0,Yucaipa city,6071.0,San Bernardino,...,41207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41207.0,10/21/2015
3312,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87042.0,Yucaipa city,6071.0,San Bernardino,...,41207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41207.0,10/21/2015
3313,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87042.0,Yucaipa city,6071.0,San Bernardino,...,41207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41207.0,10/21/2015
3314,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87042.0,Yucaipa city,6071.0,San Bernardino,...,41207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41207.0,10/21/2015
3315,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87042.0,Yucaipa city,6071.0,San Bernardino,...,41207.0,1.674473,1.279370,2.069575,0.201583,12.038585,9.0,0.269316,41207.0,10/21/2015
3316,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3317,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3318,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3319,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16865.0,10/21/2015
3320,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,PL,87056.0,Yucca Valley town,6071.0,San Bernardino,...,16865.0,4.447080,3.440611,5.453549,0.513505,11.547005,4.0,0.715252,16865.0,10/21/2015

In [5]:
# creating new dataframe with only pertinent columns
columndrop_crimedata_2000 = dropna_crime_data_2000[["county_name", "numerator", "denominator", "rate"]]
columndrop_crimedata_2000

         county_name  numerator  denominator      rate
5            Alameda     5457.0    1443741.0       NaN
6            Alameda      568.0    1443741.0       NaN
7            Alameda      110.0    1443741.0       NaN
8            Alameda     3368.0    1443741.0       NaN
9            Alameda     9503.0    1443741.0  6.582206
10            Alpine        9.0       1208.0       NaN
11            Alpine        1.0       1208.0       NaN
12            Alpine        NaN       1208.0       NaN
13            Alpine        NaN       1208.0       NaN
14            Alpine       10.0       1208.0  8.278146
15            Amador      153.0      34120.0       NaN
16            Amador       22.0      34120.0       NaN
17            Amador        1.0      34120.0       NaN
18            Amador        3.0      34120.0       NaN
19            Amador      179.0      34120.0  5.246190
20             Butte      475.0     203171.0       NaN
21             Butte       77.0     203171.0       NaN
22             Butte        8.0     203171.0       NaN
23             Butte      139.0     203171.0       NaN
24             Butte      699.0     203171.0  3.440452
25         Calaveras      101.0      40554.0       NaN
26         Calaveras        8.0      40554.0       NaN
27         Calaveras        4.0      40554.0       NaN
28         Calaveras        5.0      40554.0       NaN
29         Calaveras      118.0      40554.0  2.909701
30            Colusa       50.0      18804.0       NaN
31            Colusa        2.0      18804.0       NaN
32            Colusa        4.0      18804.0       NaN
33            Colusa        1.0      18804.0       NaN
34            Colusa       57.0      18804.0  3.031270
...              ...        ...          ...       ...
3291          Tulare        NaN          NaN       NaN
3292  San Bernardino        NaN          NaN       NaN
3293          Orange      126.0      58918.0       NaN
3294          Orange        1.0      58918.0       NaN
3295          Orange        1.0      58918.0       NaN
3296          Orange        8.0      58918.0       NaN
3297          Orange      136.0      58918.0  2.308293
3298          Madera        NaN          NaN       NaN
3299        Mariposa        NaN          NaN       NaN
3300            Napa        NaN          NaN       NaN
3301        Siskiyou       28.0       7290.0       NaN
3302        Siskiyou        2.0       7290.0       NaN
3303        Siskiyou        NaN       7290.0       NaN
3304        Siskiyou        4.0       7290.0       NaN
3305        Siskiyou       34.0       7290.0  4.663923
3306          Sutter      124.0      36758.0       NaN
3307          Sutter       13.0      36758.0       NaN
3308          Sutter        1.0      36758.0       NaN
3309          Sutter       44.0      36758.0       NaN
3310          Sutter      182.0      36758.0  4.951303
3311  San Bernardino       42.0      41207.0       NaN
3312  San Bernardino        6.0      41207.0       NaN
3313  San Bernardino        2.0      41207.0       NaN
3314  San Bernardino       19.0      41207.0       NaN
3315  San Bernardino       69.0      41207.0  1.674473
3316  San Bernardino       62.0      16865.0       NaN
3317  San Bernardino        3.0      16865.0       NaN
3318  San Bernardino        1.0      16865.0       NaN
3319  San Bernardino        9.0      16865.0       NaN
3320  San Bernardino       75.0      16865.0  4.447080

[3316 rows x 4 columns]

In [6]:
county_data_df.isnull().sum()

Unnamed: 0        0
latitude          0
longitude         0
amt               9
bea               9
block_fips        9
block_pop_2015    9
bta               9
cma               9
county_fips       9
county_name       9
eag               9
ivm               9
latitude.1        0
longitude.1       0
mea               9
mta               9
pea               9
rea               9
rpc               9
state_code        9
state_fips        9
state_name        9
vpc               9
dtype: int64

In [7]:
# dropping all the rows with null values in "rate"
county_crime_rate_df = columndrop_crimedata_2000.loc[columndrop_crimedata_2000["rate"].notnull(), :]
county_crime_rate_df

         county_name  numerator  denominator       rate
9            Alameda     9503.0    1443741.0   6.582206
14            Alpine       10.0       1208.0   8.278146
19            Amador      179.0      34120.0   5.246190
24             Butte      699.0     203171.0   3.440452
29         Calaveras      118.0      40554.0   2.909701
34            Colusa       57.0      18804.0   3.031270
39      Contra Costa     4532.0     948816.0   4.776479
44         Del Norte      118.0      27507.0   4.289817
49         El Dorado      702.0     156299.0   4.491391
54            Fresno     6041.0     799407.0   7.556852
59             Glenn       80.0      26453.0   3.024232
64          Humboldt      427.0     126207.0   3.383331
69          Imperial      707.0     142361.0   4.966248
74              Inyo       55.0      17945.0   3.064921
79              Kern     3237.0     661645.0   4.892352
84             Kings      364.0     129461.0   2.811658
89              Lake      234.0      58309.0   4.013103
94            Lassen       73.0      33828.0   2.157976
99       Los Angeles    89986.0    9519338.0   9.452968
104           Madera      804.0     123109.0   6.530798
109            Marin      631.0     226175.0   2.789875
114         Mariposa      130.0      17130.0   7.589025
119        Mendocino      318.0      86265.0   3.686315
124           Merced     1307.0     210554.0   6.207434
129            Modoc       38.0       9449.0   4.021590
134             Mono       30.0      12853.0   2.334085
139         Monterey     2311.0     401762.0   5.752162
144             Napa      322.0     124279.0   2.590945
149           Nevada      159.0      92033.0   1.727641
154           Orange     8600.0    2846289.0   3.021478
...              ...        ...          ...        ...
3119  San Bernardino      331.0      64029.0   5.169533
3125          Orange        4.0       5999.0   0.666778
3133          Tulare      777.0      91565.0   8.485775
3138       San Diego      352.0      89857.0   3.917335
3145     Los Angeles       69.0      30004.0   2.299693
3150    Contra Costa      129.0      64296.0   2.006346
3162      Stanislaus       28.0       6924.0   4.043905
3167      Santa Cruz      303.0      44265.0   6.845137
3177        Siskiyou       69.0       2978.0  23.169913
3178        Siskiyou       69.0       2851.0  24.202034
3189     Los Angeles      387.0     105080.0   3.682908
3195     Los Angeles      364.0      35716.0  10.191511
3200     Los Angeles       13.0       8368.0   1.553537
3207          Orange      329.0      88207.0   3.729863
3214        Imperial       10.0       2131.0   4.692633
3221            Yolo      401.0      31615.0  12.683853
3228            Yuba        6.0       2275.0   2.637363
3234     Los Angeles      248.0      83680.0   2.963671
3245          Colusa       22.0       3670.0   5.994550
3250       Mendocino       42.0       5073.0   8.279125
3257           Glenn       25.0       6220.0   4.019293
3264          Sonoma       65.0      22744.0   2.857897
3271            Yolo        9.0       6125.0   1.469388
3280          Tulare       79.0       6651.0  11.877913
3285            Yolo      259.0      49151.0   5.269476
3297          Orange      136.0      58918.0   2.308293
3305        Siskiyou       34.0       7290.0   4.663923
3310          Sutter      182.0      36758.0   4.951303
3315  San Bernardino       69.0      41207.0   1.674473
3320  San Bernardino       75.0      16865.0   4.447080

[504 rows x 4 columns]

In [8]:
# sorted by county name for later reference
county_crime_rate_df.sort_values('county_name')

     county_name  numerator  denominator       rate
9        Alameda     9503.0    1443741.0   6.582206
522      Alameda      754.0     102743.0   7.338699
2102     Alameda      130.0      42471.0   3.060912
3083     Alameda      342.0      66869.0   5.114478
2688     Alameda      500.0      79452.0   6.293108
2150     Alameda     5038.0     399484.0  12.611269
1045     Alameda       93.0      29973.0   3.102793
1767     Alameda      132.0      73345.0   1.799714
1257     Alameda      387.0     203413.0   1.902533
310      Alameda      302.0      72259.0   4.179410
316      Alameda       88.0      16444.0   5.351496
2312     Alameda        3.0      10952.0   0.273923
1398     Alameda      774.0     140030.0   5.527387
2353     Alameda       83.0      63654.0   1.303924
1131     Alameda      103.0       6882.0  14.966579
14        Alpine       10.0       1208.0   8.278146
1546      Amador        8.0       3989.0   2.005515
1523      Amador       15.0       7129.0   2.104082
2964      Amador        1.0       2303.0   0.434216
19        Amador      179.0      34120.0   5.246190
542        Butte        3.0       1793.0   1.673173
2264       Butte      109.0      26408.0   4.127537
1351       Butte       40.0       5382.0   7.432181
759        Butte      192.0      59954.0   3.202455
2213       Butte       37.0      13004.0   2.845278
24         Butte      699.0     203171.0   3.440452
365    Calaveras       33.0       3004.0  10.985353
29     Calaveras      118.0      40554.0   2.909701
34        Colusa       57.0      18804.0   3.031270
3245      Colusa       22.0       3670.0   5.994550
...          ...        ...          ...        ...
3280      Tulare       79.0       6651.0  11.877913
1163      Tulare       65.0       9168.0   7.089878
1011      Tulare      153.0      16844.0   9.083353
274       Tulare     2377.0     368021.0   6.458871
1183      Tulare       83.0       8737.0   9.499828
3046      Tulare      381.0      43994.0   8.660272
1754      Tulare       50.0      10297.0   4.855783
2383      Tulare      174.0      39615.0   4.392276
3133      Tulare      777.0      91565.0   8.485775
279     Tuolumne      202.0      54501.0   3.706354
2875    Tuolumne      106.0       4423.0  23.965634
2772     Ventura      105.0      28598.0   3.671585
2610     Ventura      343.0     100916.0   3.398866
284      Ventura     2112.0     753197.0   2.804047
2850     Ventura      134.0     111351.0   1.203402
2219     Ventura      864.0     170358.0   5.071673
2388     Ventura       65.0      21845.0   2.975509
680      Ventura       84.0      57077.0   1.471696
2027     Ventura       53.0      31415.0   1.687092
3007     Ventura      183.0     117005.0   1.564036
2171     Ventura       18.0       7862.0   2.289494
1197     Ventura       60.0      13643.0   4.397860
289         Yolo      953.0     168660.0   5.650421
3271        Yolo        9.0       6125.0   1.469388
3285        Yolo      259.0      49151.0   5.269476
966         Yolo      254.0      60308.0   4.211713
3221        Yolo      401.0      31615.0  12.683853
294         Yuba      342.0      60219.0   5.679271
1911        Yuba       84.0      12268.0   6.847082
3228        Yuba        6.0       2275.0   2.637363

[504 rows x 4 columns]

In [9]:
# creating summary crime rate by county
group_county_rate_df = county_crime_rate_df.groupby(["county_name"])
sum_county_rate_df = group_county_rate_df[["numerator", "denominator"]].sum()
sum_county_rate_df

                 numerator  denominator
county_name
Alameda            18232.0    2751712.0
Alpine                10.0       1208.0
Amador               203.0      47541.0
Butte               1080.0     309712.0
Calaveras            151.0      43558.0
Colusa                94.0      27876.0
Contra Costa        8363.0    1750878.0
Del Norte            133.0      31535.0
El Dorado           1083.0     189518.0
Fresno             10773.0    1411249.0
Glenn                144.0      38954.0
Humboldt             644.0     185174.0
Imperial            1278.0     251949.0
Inyo                  83.0      21520.0
Kern                4382.0    1014452.0
Kings                627.0     219991.0
Lake                 365.0      76271.0
Lassen               119.0      47369.0
Los Angeles       170216.0   18049808.0
Madera              1450.0     177443.0
Marin               1118.0     383615.0
Mariposa             130.0      17130.0
Mendocino            456.0     113861.0
Merced              2125.0     343181.0
Modoc                 44.0      12341.0
Mono                  53.0      19946.0
Monterey            4353.0     703272.0
Napa                 563.0     217778.0
Nevada               195.0     105956.0
Orange             17170.0    5524413.0
Placer               877.0     388317.0
Plumas                63.0      20824.0
Riverside          16707.0    2632817.0
Sacramento         10453.0    1702701.0
San Benito           633.0      86098.0
San Bernardino     17135.0    3126152.0
San Diego          26111.0    5184747.0
San Francisco      13061.0    1553466.0
San Joaquin         8401.0     986664.0
San Luis Obispo     1142.0     389382.0
San Mateo           3911.0    1347259.0
Santa Barbara       2306.0     639211.0
Santa Clara        14030.0    3264870.0
Santa Cruz          2139.0     375878.0
Shasta              1337.0     253143.0
Sierra                 4.0       3555.0
Siskiyou             327.0      64870.0
Solano              4885.0     769762.0
Sonoma              2261.0     766663.0
Stanislaus          4769.0     787204.0
Sutter               445.0     115688.0
Tehama               458.0      75927.0
Trinity               23.0      13022.0
Tulare              4139.0     594892.0
Tuolumne             308.0      58924.0
Ventura             4021.0    1413267.0
Yolo                1876.0     315859.0
Yuba                 432.0      74762.0

In [12]:
# calculation for summary crime rate and creating csv file
# multiplied by 1000 to match formatting in original dataset
sum_county_rate_df["sum_rate"] = (sum_county_rate_df["numerator"] / sum_county_rate_df["denominator"]) * 1000
sum_county_rate_df.to_csv("Resources/sum_county_rate.csv", index=True)