In [1]:
import pandas as pd
import numpy as np

In [3]:
file = "Resources/county_data.csv"

county_df = pd.read_csv(file)
county_df.head()

,Unnamed: 0,latitude,longitude,amt,bea,block_fips,block_pop_2015,bta,cma,county_fips,...,longitude.1,mea,mta,pea,rea,rpc,state_code,state_fips,state_name,vpc
0,0,32.5,-117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,32.6,-117.2,AMT006,BEA161,6.073990e+13,0.0,BTA402,CMA018,6073.0,...,-117.2,MEA044,MTA002,PEA018,REA006,RPC005,CA,6.0,California,VPC006
2,2,32.6,-117.1,AMT006,BEA161,6.073010e+13,0.0,BTA402,CMA018,6073.0,...,-117.1,MEA044,MTA002,PEA018,REA006,RPC005,CA,6.0,California,VPC006
3,3,32.6,-117.0,AMT006,BEA161,6.073013e+13,944.0,BTA402,CMA018,6073.0,...,-117.0,MEA044,MTA002,PEA018,REA006,RPC005,CA,6.0,California,VPC006
4,4,32.6,-116.8,AMT006,BEA161,6.073021e+13,0.0,BTA402,CMA018,6073.0,...,-116.8,MEA044,MTA002,PEA018,REA006,RPC005,CA,6.0,California,VPC006

In [4]:
county_df.count()

Unnamed: 0        1563
latitude          1563
longitude         1563
amt               1554
bea               1554
block_fips        1554
block_pop_2015    1554
bta               1554
cma               1554
county_fips       1554
county_name       1554
eag               1554
ivm               1554
latitude.1        1563
longitude.1       1563
mea               1554
mta               1554
pea               1554
rea               1554
rpc               1554
state_code        1554
state_fips        1554
state_name        1554
vpc               1554
dtype: int64

In [5]:
county_df = county_df.dropna(how="any")
county_df.count()

Unnamed: 0        1554
latitude          1554
longitude         1554
amt               1554
bea               1554
block_fips        1554
block_pop_2015    1554
bta               1554
cma               1554
county_fips       1554
county_name       1554
eag               1554
ivm               1554
latitude.1        1554
longitude.1       1554
mea               1554
mta               1554
pea               1554
rea               1554
rpc               1554
state_code        1554
state_fips        1554
state_name        1554
vpc               1554
dtype: int64

In [6]:
county_df.to_csv("Resources/county_data_clean.csv")